pymavlink==2.4.49
loguru==0.7.3
pupil-apriltags==1.0.4.post11
numpy==2.4.4
pyserial==3.5
opencv-python==4.13.0.92

# pyrealsense2는 pip로 설치 불가 — 시스템 패키지 사용
# venv 생성 시: python3 -m venv venv --system-site-packages
